@using HansHomePage.Models;

@model HansHomePage.Models.ArticleEditViewModel

@{
    ViewBag.Title = "ArticleList";
    Layout = "~/Views/Shared/_TestLayoutPage.cshtml";
}

<!-- Container -->
<div class="content-wrap">
    <div id="blogpost" class="inner-content">
        <section class="inner-section">
            <div class="wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
                <div id="post-comment">
                    <h3 class="font-accident-one-light uppercase">게시글 목록</h3>
                </div>
                <div class="dividewhite2"></div>
                <div class="row">
                    <table class="footable table table-striped toggle-arrow-tiny" data-page-size="10">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 70px;">번호</th>
                                <th>제목</th>
                                <th class="text-center" style="width: 100px;">작성자</th>
                                <th class="text-center" style="width: 100px;">날짜</th>
                                <th class="text-center" style="width: 70px;">조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                                int aidx = 0;
                            }

                            @foreach (var item in Model.ArticlesList)
                            {
                                aidx = Model.ArticlesList.Count - i;
                                <tr>
                                    <td style="text-align:center">@aidx.ToString()</td>

                                    @if ((string)Session["ID"] == null)
                                    {
                                        <td>
                                            <a href="/Member/Login" onclick="alert('해당 게시글 읽기 권한이 없습니다. 로그인을 하십시오.')">@item.Title</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a href="/Board/Read?aidx=@item.ArticleIDX">
                                                <label>@item.Title</label>                                                
                                                @if (Model.Comments.Where(c => c.ArticleIDX == item.ArticleIDX).Count() != 0)
                                                {
                                                    <label>[@Model.Comments.Where(c => c.ArticleIDX == item.ArticleIDX).Count()]</label>
                                                }
                                                else { }
                                            </a>
                                        </td>
                                    }
                                    <td style="text-align:center">@item.RegistUserName</td>
                                    <td style="text-align:center">@Convert.ToDateTime(item.RegistDate).ToString("yyyy.MM.dd-HH:mm:ss")</td>
                                    <td style="text-align:center">@item.ViewCnt</td>
                                </tr>
                                i++;
                            }
                            @if ((string)Session["ID"] != null)
                            {
                                <a href="/Board/Create" class="btn btn-lg btn-lgr-str">글쓰기</a>
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6" style="text-align:center;">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </div>

</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('.footable').footable();
        });

    </script>

}


